*{
    box-sizing: border-box;
}
html, body{
    padding:0;
    margin:0;
}
body{
    width:100%;
}
canvas{
    border: 1px solid green;
    box-sizing: content-box;
    margin:20px auto 0 auto;
    display: block;
    background-image: url('../space.jpg');
    background-size: contain;
}